.navbar {
    max-width: 85%;
    margin: 0px auto;
    padding: 10px;

    .wrapper {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;

        span {
            img {
                width: 80%;
            }
        }

        .links-to-section {
            a {
                font-family: 'orangy';
                font-size: 2rem;
                margin: 0 20px;
            }
            a:hover{
                color:rgb(136, 133, 133);

            }
        }
    }

    // Media query for tablets
    @media (max-width: 768px) {
        max-width: 90%;

        .wrapper {
            flex-direction: column;
            text-align: center;

            span {
                img {
                    width: 60%;
                }
            }

            .links-to-section {
                margin-top: 5px;
                
                a {
                    font-size: 1.8rem;
                    margin: 0 10px;
                }
                a:hover{
                    color:rgb(136, 133, 133);

                }
            }
        }
    }

    // Media query for mobile phones
    @media (max-width: 480px) {
        max-width: 100%;
        padding: 5px;

        .wrapper {
            flex-direction: column;
            text-align: center;

            span {
                img {
                    width: 50%;
                }
            }

            .links-to-section {
                margin-top: 10px;

                a {
                    font-size: 1.5rem;
                    margin: 0 5px;
                }
                a:hover{
                    color:rgb(136, 133, 133);

                }
            }
        }
    }
}
