@import 'global';

.about{
    // border: 2px solid rebeccapurple;
    max-width: 85%;
    height: 100vh;
    display: flex;
    margin: auto;
    // justify-content: space-between;
    align-items: center;
    
    .about-wrapper{
        text-align: center;
        width: 30%;
        margin: auto;
        // border: 2px solid red;
        h1{
            font-size: 4rem;
            font-family: 'orangy', sans-serif;
        }
        img{
            width: 80%;
            margin-top: 15px;
            border: 12px solid #fff;
            border-radius: 50%;
        }
    }
    .whyhire{
        width: 60%;
        margin: auto;
        font-size: 1.1rem;
        // border: 2px solid green;      
        font-family: monospace, Geneva, Tahoma, sans-serif;
        
        p{
            // font-weight: 600;
            // font-size: 1.5rem;
            margin-bottom: 10px;
            line-height: 1.5rem;
        }
        h2{
            font-family: 'orangy', sans-serif;
            font-size: 2.5rem;
            margin-bottom: 10px;
            letter-spacing: 6px;
        }
        ul{
            list-style-type: square;
            li{
                padding: 7px;
                .domains{
                    color: #fff;
                    font-weight: 550;
                }
                .blue{
                    color: rgb(156, 156, 244);
                }
                .yellow{
                    color: rgb(243, 243, 123);
                }
                .red{
                    color:rgb(218, 8, 8);
                }
                .code360{
                    display: inline-block;
                    border: 2px solid orange;
                    padding: 5px;
                    margin: 5px;
                    color: orange;
                    border-radius: 15px;
                }
                .code360:hover{
                    color: #000;
                    border-color: #fff;
                    background: orange; 
                    font-weight: 600;
                }
                
            }
        }
        h3{
            margin-top: 20px;
        }
        
    }

}